@font-face {
  font-family: SourceHanSerif;
  src: url(font/SourceHanSerifCN-Medium.ttf) format("truetype");
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes updown {
  from {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  to {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  font-family: SourceHanSerif;
  text-align: right;
}

#title {
  padding: 20px 0;
}

#resultCard {
  padding-top: 20px;
  .card {
    background: #232323;
  color: #fff;
  }
  .card-subtitle {
    color: #fff !important;
    font-size: 30;
  }
}

.img-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.bg-img-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .bg-blur {
    backdrop-filter: blur(40px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  img {
    width: auto;
    height: 100%;
  }
}

.full-page {
  overflow-x: scroll;
  .page {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    transition: all 300ms linear;

    .page-content {
      padding: 0 20px;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .align-right-box {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
      }
    }

    &.active {
      left: 0;
    }
  }
  .first-page {
    .page-content {
      padding: 0 35px;
    }
    .top {
      width: 100%;
      // background: rgba(255, 255, 255, 0.125);
      .label-holder {
        font-size: 13px;
        text-align: right;
      }
      .logo-img {
        width: 64px;
        height: 64px;
        margin-left: 15px;
        flex: none;
        position: relative;
        img {
          position: absolute;
        }
        #logoCenter {
          width: 39px;
          height: 39px;
          left: 12.5px;
          top: 12.5px;
        }
        #logoOutline {
          animation: rotating 30.0s linear infinite;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
      .title {
        margin-top: 30px;
        margin-bottom: 30px;
        .title0 {
          font-size: 30px;
        }
        .title1 {
          font-size: 50px;
        }
      }
    }

    .loading-holder {
      width: 178px;
      height: 66px;
      line-height: 66px;
      font-size: 24px;
      background: rgba(255, 255, 255, 0.4);
      color: #000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      margin-top: 40px;
      position: relative;
      #loadingBar {
        position: absolute;
        top: 0;
        left: 0;
        width: 54%;
        height: 100%;
        background: #fff;
      }
      #loadingLabel {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    .enter-btn-holder {
      animation: bounce;
      animation-duration: 2.s;
    }
    #enterBtn {
      margin-top: 40px;
      font-size: 24px;
      padding: 15px 25px;
      background: #fff;
      color: #000;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      animation: updown 1.5s ease-in-out infinite; 
      animation-direction: alternate;
    }
  }

  .second-page {
    left: 100%;
    font-size: 20px;
    background: #000;
    .bg-blur {
      background: rgba(0, 0, 0, 0.75);
    }

    .video-holder{
      width: 100%;
      height: 100%;
      overflow: hidden;
      video {
        height: 100%;
      }
    }

    .page-content {
      display: block;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    #questionCard {
      height: 100%;
      position: relative;
      #listGroup {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .question {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      width: 85%;
      #qAvatar {
        width: 40px;
        height: 40px;
        flex: none;
        border-radius: 4px;
      }
      .q-title {
        background: #fff;
        border-radius: 6px;
        padding: 7px 14px;
        font-size: 17px;
        margin-left: 10px;
        text-align: left;
        color: #000;
      }
    }

    .q-title {
      margin-top: 13px;
    }

    .q-img-holder {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      border-radius: 6px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    .q-list {
      margin-top: 20px;
      display: block;
      list-style: none;
      padding: 0;
      margin: 0;
      .choiceItem {
        display: inline-block;
        border: none;
        margin-bottom: 15px;
        border-radius: 6px;
        padding: 7px 14px;
        font-size: 17px;
        color: #000;
        &:active {
          background-color: #454545;
        }
        background-color: #B1F68D;
      }
    }
  }
}

.hidden {
  display: none;
}